@model WebPMS.Models.PropertyImages

<div class="row padding">

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="inputForm">

            <div class="inputHeader">Tenancy Images</div>
            @if (Model.Count > 1)
            {
            <div class="input-row">
                <div class="input-2 arrows">
                    <a onclick="prev();"><i style="display:none;" id="leftArrow" class="fa fa-caret-left" aria-hidden="true"></i></a>
                </div>
                <div class="input-8">
                    @{int i = 0;}
                    @foreach (var item in Model)
                    {
                    if (i != 0)
                    {
                    <img id="@i" class="tenancyimg" src="@Url.Content(item._tenancyPath + '/' + item.Filename) " style="display:none" alt="Image" />
                    }
                    else
                    {
                    <img id="@i" class="tenancyimg" src="@Url.Content(item._tenancyPath + '/' + item.Filename) " alt="Image" />
                    }
                    i++;

                    }
                </div>
                <div class="input-2 arrows">
                    <a onclick="next(@Model.Count);"> <i class="fa fa-caret-right" id="rightArrow" aria-hidden="true"></i></a>
                </div>
            </div>
            }
            else
            {
            <div class="input-row">
                <div class="input-12">

                    @foreach (var item in Model)
                    {
                    <img class="tenancyimg" src="@Url.Content(item._tenancyPath + '/' + item.Filename) " alt="Image" />
                    <div class="text-center">
                        <h3> @item.Title</h3>
                        @item.Description
                    </div>
                    }
                </div>
            </div>


            }

        </div>
    </div>


</div>