
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section SideNav{
 @Html.Partial("TenancyToolbarPartial")
}


<script>

    function OnGridFocusedRowChanged(s, e) {
        var grid = s;
        s.GetRowValues(s.GetFocusedRowIndex(), 'PropertyID', function (value) {
            grid.PerformCallback({ pPropID: value });
        });

    }
    $(document).ready(function () {

        $('#viewTenancy').click(function () {
            var value = $('.dxgvFocusedRow > td:eq( 1 ) ').first().html()
            window.location.href = '@Url.Action("TenancyDetails", "Tenancy")?PropertyID=' + value;
        });
    });

    $('#deleteTenancy').click(function () {
        var value = $('.dxgvFocusedRow > td ').first().html();
        var PropertyID = $('.dxgvFocusedRow > td:eq( 1 ) ').first().html()
        swal({
            title: 'Are you sure?',
            text: "Are you sure you want to delete tenancy " + value + "?",
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#62d4d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes Delete!'
        }).then(function () {
            var dataObject = JSON.stringify({
                'TenancyID': value,
                'PropertyID': PropertyID
            });
            $.ajax({
                url: '/Tenancy/DeleteTenancy',
                type: 'DELETE',
                contentType: 'application/json',
                data: dataObject,
                success: successFunc
            });

            function sucessFunc() {
                window.location.reload()
            }
        })


    });

</script>
<div class="pageTitle">
    Tenants
</div>
<div class="content">

    <div class="gridView padding">

        @Html.Action("gvTenants_Partial")


    </div>
    @Html.DevExpress().Button(
                settings =>
                {
                    settings.Name = "btMoveUp";
                    settings.Text = "Up";
                    settings.Width = Unit.Pixel(100);
                    settings.UseSubmitBehavior = false;
                    settings.ClientSideEvents.Click = "btMoveUp_Click";
                    settings.ClientVisible = false;
                }).GetHtml()
    @Html.DevExpress().Button(
                settings =>
                {
                    settings.Name = "btMoveDown";
                    settings.Text = "Down";
                    settings.Width = Unit.Pixel(100);
                    settings.UseSubmitBehavior = false;
                    settings.ClientVisible = false;
                    settings.ClientSideEvents.Click = "btMoveDown_Click";
                }).GetHtml()

</div>

